/* .cocktail-list {
  background-color: lightcoral;
  border-radius: 10px;
  max-height: 600px;
  overflow-y: scroll;
} */



/* .cocktail-detail {
  background-color: lightcoral;
  border-radius: 10px;
} */
