.search-box {
  float: left;
  margin-bottom: 15px;
}

.searchDropdown {
  float: left;
  margin-top: 1px;
  margin-left: 35px;
}

.selectStyle {
  //   border-radius: 40px;
  height: 36px;
  width: 83px;
}

.layout {
  margin-left: -40px;
  border-radius: 48px;
  width: 39px;
  border: 0 !important;
}

.layout:focus {
  outline: 0 !important;
  border: 0 !important;
}

.inputWrapper {
  margin-left: 15px;
}

.icon-img {
  padding-left: 5px;
}
