.search-box {
  float: left;
  margin-bottom: 15px;
}

.searchDropdown {
  float: left;
  margin-top: 1px;
  margin-left: 35px;
}

.selectStyle {
  //   border-radius: 40px;
  height: 36px;
  width: 83px;
}

.layout {
  margin-left: -40px;
  border-radius: 48px;
  width: 39px;
}

.inputWrapper {
  margin-left: 15px;
}
